.register{
    margin-top: 120px;
    padding:80px;
}

.row-edit{
    min-height: 400px;
}

.left, .right{
    background-color: #fff;
}

.left{
    text-align: center;
}

.image-form-logo{
    margin: 28px 0;
}

.desc-form-logo{
    color: #00aeef;
    font-size: 3.2rem;
    font-weight: 700;
    
}

.slogan{
    font-size: 2.6rem;
    color: #333;
}

.form{
    margin:28px 0;
}

.form > .heading{
    font-size: 2.8rem;
    color: var(--primary-color);
}

.form >.form-group .form-label{
    font-size: 1.6rem;
}

.form >.form-group .form-control{
    height: 32px;
    font-size: 1.4rem;
}

.form >.form-submit{
    height: 34px;
    width: 100px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    border: none;
    outline: none;
}

.form >.form-submit:hover{
    opacity: 0.8;
}

.form-message{
    color:red;
    font-size: 1.4rem;
}